langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
sentence-transformers
huggingface_hub<0.27
faiss-cpu
pypdf
beautifulsoup4
pandas
streamlit
python-dotenv
